
.main_section {
    background: url("../images/brick.original.jpg") top center repeat #ffffff;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, Arial, sans-serif;
}

p {
    line-height: 24px;
}

.text-em {
    color: #ff6b00;
}

.header .container {
    padding-bottom: 60px;
    background: url("../images/paper-bkg-top.original.png") center bottom no-repeat transparent;
}

.company-logo {
    display: block;
    margin: 36px auto 0;
    width: 256px;
    height: 52px;
}

.inner-container {
    width: 886px;
    margin-top: 16px;
    margin-left: 36px;
}

.main .container {
    background: url("../images/paper-bkg-middle.original.png") repeat-y top left #ffffff;
    border-right: 1px solid #949494;
}

.main-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(45,61,116,1);
    color: #ffffff;
    letter-spacing: -1px;
}

.main-heading h1 {
    margin-top: 0;
    font-weight: 500;
}

.main-heading h4 {
    margin-bottom: 0;
}

.main-heading .time {
    margin-top: 24px;
}

.main-heading .text-em {
    color: #ffb200;
}

.main-center {
    padding-top: 100px;
    padding-bottom: 80px;
    background: url("../images/98kkjd-guy-bkg-img.jpg") no-repeat rgba(216,216,216,1);
}

.main-center h3 {
    margin-top: 0;
}

.main-center h5 {
    margin-bottom: 6px;
}

.main-center .form-container {
    margin-top: 60px;
}

.main-center form {
    margin-top: 30px;
}

.main-center label {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #5b5b5b;
}

.main-center input {
    -webkit-box-shadow: inset 0px 2px 3px #dddddd;
    -moz-box-shadow: inset 0px 2px 3px #dddddd;
    box-shadow: inset 0px 2px 3px #dddddd;
}

.main-center form .btn {
    margin-top: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(187,61,11,1);
    border: none;
    font-size: 20px;
}

.main-center form .btn:hover {
    background: rgba(178,50,8,1);
}

.main-center .note {
    margin-top: 20px;
    font-size: 13px;
    line-height: 22px;
}

.host-info {
    text-align: center;
}

.host-info h1,
.host-info h5,
.host-info h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.main-bottom {
    position: relative;
    padding: 40px 0;
    background: rgba(216,216,216,1);
    text-align: center;
}

.main-bottom h3 {
    margin-bottom: 30px;
}

.footer {
    height: 160px;
    text-align: center;
}

.footer .container {
    background: url("../images/bkg-paper-bottom.original.png") center top no-repeat transparent;
}

.footer p {
    margin-top: 50px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
    .header .container {
        background-image: none;
    }

    .main .container {
        background-image: none;
        border: 1px solid #949494;
    }

    .inner-container {
        width: 98%;
        margin: 1%;
    }

    .main-heading h1 {
        font-size: 28px;
    }

    .main-heading h4 {
        font-size: 16px;
    }

    .main-center {
        background-position: 60% top;
    }

    .host-info {
        text-align: left;
    }

    .host-info h1 {
        font-size: 28px;
    }

    .main-center .form-container {
        margin-top: 0;
    }

    .footer .container {
        background-image: none;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    .main-heading h1 {
        font-size: 28px;
    }

    .main-heading h4 {
        font-size: 16px;
    }

    .main-center {
        padding-top: 60px;
        padding-bottom: 0;
        background-position: 25% top;
    }

    .main-center .form-container {
        margin-top: 120px;
    }

    .main-center .form-container h3 {
        color: #ffffff;
        text-shadow: 1px 1px 1px #333333;
    }

    .main-center label {
        color: #ffffff;
        text-shadow: 1px 1px 1px #333333;
    }

    .main-center h3 {
        font-size: 20px;
    }

    .main-center h5 {
        font-size: 12px;
    }

    .main-bottom h3 {
        font-size: 20px;
    }

    .main-bottom img {
        margin-bottom: 20px;
    }

}

.wrapper .container, .wrapper_tab .container, .wrapper_mobile .container  {
	width: 90%;
	margin:0 auto;
}
.wrapper .main-heading, .wrapper_tab .main-heading, .wrapper_mobile .main-heading {
	padding:15px;
}
.wrapper .main-center, .wrapper_tab .main-center, .wrapper_mobile .main-center {
	padding:15px;
}
.wrapper .header .container, .wrapper_tab .header .container, .wrapper_mobile .header .container, .wrapper .footer .container, .wrapper_tab .footer .container, .wrapper_mobile .footer .container  {
	background-image: none;
}

.wrapper .main .container, .wrapper_tab .main .container, .wrapper_mobile .main .container {
	background-image: none;
	border: 1px solid #949494;
}

.wrapper .inner-container, .wrapper_tab .inner-container, .wrapper_mobile .inner-container {
	width: 98%;
	margin: 1%;
}




