/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles by Sujoy Ghosh
   ========================================================================== */
   
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="submit"], textarea, select {
 -webkit-appearance: none;
 -moz-appearance: none; /* mobile firefox too! */
 border-radius: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
div.main_wrap {
	background:#FFF;
	line-height: normal;
	color: #484848;
	width: 100%;
}
div.main_wrap a {
	outline:none;
	color: #000;
	text-decoration: none;
}
div.main_wrap a:hover, div.main_wrap a:focus {
	outline:none;
	color: #000;
	text-decoration: none;
}
section.main_step1 {
	background:url(../img/bg1.png) no-repeat center bottom;
	width: 100%;
	background-size:100%;
}
div.main_wrap header {
	width:100%;
	overflow: hidden;
}
a.logo {
	float: left;
	display: block;
}
p.info {
	float: right;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #484848;
	font-style: italic;
	line-height: normal;
	margin:30px 0 0 0;
}
p.info a {
	color: #be1e2d;
}
p.info a:hover, p.info a:focus {
	color: #be1e2d;
	text-decoration: underline;
}

div.container {
	width: 785px;
	margin: 0 auto;
}

div.main_content {
	position:relative;
}
div.main_content p.intro {
    font-family: 'roboto_condensedlight';
	font-size: 30px;
	color: #484848;
	margin: 30px 0;
}
div.main_content p.intro strong {
    font-family: 'roboto_condensedregular';
	font-weight: normal;
}
div.main_content p.intro b {
	font-weight: normal;
	display: inline-block;
}
div.main_content p.intro span {
    font-family: 'roboto_condensedregular';
	color: #be1e2d;
	display: inline-block;
}
div.main_content h2.heading {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 67px;
	font-weight: normal;
	color: #be1e2d;
	line-height: 70px;
	margin:50px 0;
}
div.main_content h2.heading span {
	font-size: 54px;
	display: block;
	margin: 0 0 0 100px;
}
div.main_content a.button_btn {
	background:#be1e2d;
	height: 75px;
    font-family: 'roboto_condensedlight';
	font-size: 32px;
	display: inline-block;
	line-height: 75px;
	color: #FFF;
	padding:0 40px;
	position:absolute;
	right:40px;
	bottom:40px;
}
div.main_content a.button_btn:hover, div.main_content a.button_btn:focus {
	background:#aa1b29;
	color: #FFF;
}
div.main_content a.button_btn img {
	display: inline-block;
    margin: 0 0 0 30px;
	float: none;
}


section.main_step2 div.main_content div.heading1 {
	text-align: center;
	margin: 0;
	position:absolute;
	left: 50%;
	width: 100%;
	margin: 0 0 0 -48%;
	top: 132px;
	z-index: 10;
}
section.main_step2 div.main_content div.heading1 span {
	margin: 0;
}


div.main_wrap footer {
	background:#FFF;
	border-top:1px solid #d1d1d1;
	padding: 25px 0;
	width: 100%;
	text-align: center;
    font-family: 'roboto_condensedlight';
	font-size: 12px;
}
div.main_wrap footer a.web_link {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #be1e2d;
	font-size: 24px;
}
div.main_wrap footer a.web_link:hover, div.main_wrap footer a.web_link:focus {
	color: #aa1b29;
}


div.main_wrap footer.inside_footer {
	text-align: right;
}
div.main_wrap footer.inside_footer ul {
	float: left;
}
div.main_wrap footer.inside_footer ul li {
	float: left;
	margin: 0 8px 0 0;
}
div.main_wrap footer.inside_footer ul li a {
	display: block;
	background:#484848;
	text-align: center;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #FFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 18px;
    font-family: 'roboto_condensedregular';
}
div.main_wrap footer.inside_footer ul li a:hover, div.main_wrap footer.inside_footer ul li a.active {
	background:#be1e2d;
}








section.main_step2 {
	background:url(../img/bg2.png) no-repeat center bottom;
	width:100%;
	background-size:100%;
}

fieldset.radios {
	float: right;
    margin: 0 0 40px 0;
}
fieldset.radios .label_radio {
	padding: 0 0 0 36px;
	height: 26px;
	line-height: 26px;
	background: url(../img/radio-off.png) no-repeat;
	display:  inline-block;
	font-size: 14px;
    font-family: 'roboto_condensedlight';
	color: #484848;
	margin: 0 0 10px 0;
	cursor:pointer;
	clear: both;
	float: left;
}
fieldset.radios .label_radio input { 
	position: absolute;
	left: -9999px;
}
fieldset.radios label.r_on {
	background: url(../img/radio-on.png) no-repeat;
}



div.investor {
	position:relative;
	height: 476px;
	z-index: 10;
}
div.investor label {
	background:url(../img/w1.png) no-repeat left top;
	width: 199px;
	height: 113px;
	display: table;
	color: #484848;
	font-size: 28px;
    font-family: 'roboto_condensedlight';
	text-align: center;
	cursor:pointer;
	position: absolute;
	left:0;
	top:100px;
}
div.investor label span {
	display:  table-cell;
	vertical-align:middle;
}
div.investor label input {
	position: absolute;
	left: -9999px;
}
div.investor label.r_on1 {
	color: #929643;
}
div.investor label:first-child.r_on1 {
	background-image:url(../img/w1_h.png);
}
div.investor label:nth-child(2) {
	background-image:url(../img/w2.png);
	width: 266px;
	height: 159px;
	left:190px;
	top:-20px;
}
div.investor label:nth-child(2).r_on1 {
	background-image:url(../img/w2_h.png);
}
div.investor label:nth-child(3) {
	background-image:url(../img/w3.png);
	width: 222px;
	height: 125px;
	left: auto;
	right:0;
	top: 20px;
}
div.investor label:nth-child(3).r_on1 {
	background-image:url(../img/w3_h.png);
}
div.investor label:nth-child(4) {
	background-image:url(../img/w4.png);
	width: 226px;
	height: 148px;
	top: auto;
	left: auto;
	right:30px;
	bottom: 40px;
}
div.investor label:nth-child(4).r_on1 {
	background-image:url(../img/w4_h.png);
}
div.investor label:nth-child(5) {
	background-image:url(../img/w5.png);
	width: 209px;
	height:158px;
	left: 200px;
	top: 330px;
}
div.investor label:nth-child(5).r_on1 {
	background-image:url(../img/w5_h.png);
}








section.main_step3 {
	background:url(../img/bg3.png) no-repeat center bottom;
	width:100%;
	background-size:100%;
}
section.main_step3 div.main_content h2.heading {
	margin:50px 0;
}
div.jaar {
	background-image:url(../img/jaar_bg.png);
	background-repeat:no-repeat;
	background-position: center bottom;
	background-size: 100%;
	width:100%;
	width: 300px;
	height:430px;
	position:absolute;
	left:50%;
	bottom:0;
	margin:0 0 0 -190px;
    font-family: 'roboto_condensedlight';
	font-size: 14px;
	color: #484848;
}
div.jaar span {
	display: block;
	left:158px;
    position: absolute;
    top:60px;
}
div.jaar span.active {
	color: #929643;
}
div.jaar span:nth-child(2) {
    font-size: 16px;
    left: 36px;
    top: 78px;
}
div.jaar span:nth-child(3) {
    font-size: 22px;
    left: 74px;
    top: 168px;
}
div.jaar span:nth-child(4) {
    font-size: 30px;
    left: 210px;
    top: 258px;
}
div.main_content a.vorige_stap{
    bottom:10px;
    color: #484848;
    display: inline-block;
    font-family: "roboto_condensedlight";
    font-size: 16px;
    position: absolute;
    right:190px;
}
div.main_content a.vorige_stap:hover{
    color: #be1e2d;
}


div.main_content a.button_btn2 {
	height: auto;
    line-height: 36px;
    padding: 20px;
    width: 340px;
	bottom:140px;
}

div.main_content a.button_btn2 + a.vorige_stap {
    bottom: 100px;
    right: 310px;
}
div.main_content a.button_btn2 img {
    float: right;
    margin: -8px 10px 0 0;
}






section.main_step4 {
	background:url(../img/bg4.png) no-repeat center bottom;
	width:100%;
	background-size:100%;
}

div.main_wrap ul.invest {
	text-align: center;
	padding: 0 0 150px 0;
	overflow: hidden;
}
ul.invest li {
	display:inline-block;
}
ul.invest li img {
	display: block;
	margin: 0 auto;
	float: none;
}
ul.invest li span {
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border:3px solid #dddddd;
	clear: both;
	background:#FFF;
	color: #484848;
	font-size: 20px;
    font-family: "roboto_condensedlight";
	margin:0 auto 10px auto;
}




ul.invest li .label_radio {
	height: 26px;
	width: 26px;
	background: url(../img/radio-off.png) no-repeat;
	display:  block;
	cursor:pointer;
	clear: both;
	margin:0 auto;
	
}
ul.invest li .label_radio input { 
	position: absolute;
	left: -9999px;
}
ul.invest li label.r_on {
	background: url(../img/radio-on.png) no-repeat;
}



div.main_wrap ul.profiel {
	text-align: center;
	padding: 0 0 150px 0;
	overflow: hidden;
}
ul.profiel li {
	display: inline-block;
}

ul.profiel li .label_radio {
	height: 26px;
	width: 26px;
	background: url(../img/radio-off.png) no-repeat;
	display:  block;
	cursor:pointer;
	clear: both;
	margin:10px auto;
	
}
ul.profiel li .label_radio input { 
	position: absolute;
	left: -9999px;
}
ul.profiel li label.r_on {
	background: url(../img/radio-on.png) no-repeat;
}
ul.profiel li span {
	background:url(../img/icon6.png) no-repeat right top;
	color: #484848;
	font-size: 20px;
    font-family: "roboto_condensedlight";
	display: inline-block;
	padding: 5px 40px;
}

div.main_content h3 {
    font-family: 'roboto_condensedbold';
	font-weight: normal;
	font-size: 130px;
	color: #009bd1;
	text-align: right;
	line-height: 100px;
}
div.main_content h3 + p {
	color: #484848;
	font-size: 20px;
    font-family: "roboto_condensedlight";
	margin: 30px 0 0 200px;
}
section.main_step6 {
	background:url(../img/bg1.png) no-repeat center bottom;
	width: 100%;
	background-size:100%;
}
section.main_step6 div.main_content h2.heading {
	margin-bottom:0;
	 word-wrap: break-word;
}
section.main_step6 div.main_content p.intro {
	font-size: 20px;
    margin-top: 0;
    text-align: right;
}
section.main_step6 fieldset.radios {
	margin:0 170px 0 0;
}


div.popup {
	background:#FFF;
	border:3px solid #dddddd;
	width:560px;
	height:430px;
	padding: 40px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-218px 0 0 -283px;
	display:none;
	z-index:9999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.popup a.close_btn {
	background:url(../img/close_bg.png) no-repeat left top;
	height:22px;
	line-height: 22px;
	display:block;
	overflow:hidden;
    font-family: "roboto_condensedlight";
	font-size: 20px;
	color: #484848;
	padding: 0 0 0 30px;
    float: right;
}
div.mask {
	background:#000;
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	opacity:0.8;
	z-index: 999;
}


div.popup h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	color: #be1e2d;
	margin: 0 0 40px 0;
}
div.popup ul li {
	overflow: hidden;
	margin: 0 0 16px 0;
}
div.popup ul li:last-child {
	margin: 0;
}
div.popup label {
    font-family: 'roboto_condensedregular';
	font-size: 16px;
	color: #484848;
	width: 200px;
	display: block;
	float: left;
	height: 46px;
	line-height: 46px;
}
div.popup label span {
	color: #be1e2d;
}
div.popup input[type="text"] {
	background:#FFF;
	border:3px solid #e9e9e9;
	height: 46px;
	line-height: 46px;
	padding: 10px;
	display: block;
	float: left;
	margin: 0;
    font-family: 'roboto_condensedregular';
	font-size: 16px;
	color: #484848;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 270px;
}
div.popup input[type="text"]:hover {
	background:#f9f9f9;
	color: #000;
	outline: none;
}
div.popup input[type="button"] {
	background:#be1e2d url(../img/icon3.png) no-repeat 242px 11px;
	border:none;
	height: 40px;
    font-family: 'roboto_condensedlight';
	font-size: 18px;
	display: block;
	line-height: 40px;
	color: #FFF;
	padding:0;
	margin: 0;
    width: 270px;
	text-align: left;
	text-indent: 20px;
	float: left;
	background-size:9px;
}
div.popup input[type="submit"]:hover {
	background:#aa1b29 url(../img/icon3.png) no-repeat 242px 11px;
	color: #FFF;
	outline: none;
	background-size:9px;
}



div.img_section {
    display: inline-block;
}





div.wrapper_mobile div.container, div.wrapper_tab div.container {
		padding:0 5%;
		width:90%;
	}
	div.wrapper_mobile a.logo, div.wrapper_tab a.logo {
		display: block;
		margin: 0 auto;
		float: none;
		width: 174px;
	}
	div.wrapper_mobile p.info, div.wrapper_tab p.info {
		float: none;
		margin: 30px auto;
		text-align: center;
	}
	div.wrapper_mobile div.main_content p.intro, div.wrapper_tab div.main_content p.intro {
		margin: 0;
		text-align: center;
	}
	div.wrapper_mobile div.main_content h2.heading, div.wrapper_tab div.main_content h2.heading {
		text-align: center;
	}
	div.wrapper_mobile div.main_content h2.heading span, div.wrapper_tab div.main_content h2.heading span {
		margin: 0;
	}
	div.wrapper_mobile div.main_content img, div.wrapper_tab div.main_content img {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	div.wrapper_mobile div.main_content img.img_response, div.wrapper_tab div.main_content img.img_response {
		width: 100%;
	}
	div.wrapper_mobile div.main_content a.button_btn, div.wrapper_tab div.main_content a.button_btn {
		bottom: auto;
		display: block;
		margin: 30px auto;
		position: relative;
		right: auto;
	}
	div.wrapper_mobile div.investor, div.wrapper_tab div.investor {
		height: auto;
	}
	div.wrapper_mobile div.investor label, div.wrapper_tab div.investor label {
		position:relative;
		left:auto !important;
		right:auto !important;
		bottom:auto !important;
		top:auto !important;
		margin:0 auto 30px auto;
	}
	div.wrapper_mobile section.main_step2 div.main_content h2.heading, div.wrapper_tab section.main_step2 div.main_content h2.heading {
		position:relative;
		left: auto;
		top:auto;
		margin: 20px 0;
	}
	div.wrapper_mobile div.main_content, div.wrapper_tab div.main_content {
    	overflow: hidden;
	}
	div.wrapper_mobile fieldset.radios, div.wrapper_tab fieldset.radios {
		float: none;
		margin: 40px 0 0 0;
	}
	div.wrapper_mobile div.jaar, div.wrapper_tab div.jaar {
		left: auto;
    	margin: 0;
		position: relative;
	}
	div.wrapper_mobile div.main_content a.vorige_stap, div.wrapper_tab div.main_content a.vorige_stap {
		bottom: auto;
		margin: 20px 0;
		position: relative;
		right: auto;
	}
	div.wrapper_mobile div.main_content a.button_btn img, div.wrapper_tab div.main_content a.button_btn img {
		float: right;
		margin: -13px 0 0;
		position: absolute;
		right: 20px;
		top: 50%;
	}
	div.wrapper_mobile div.main_wrap footer.inside_footer ul, div.wrapper_tab div.main_wrap footer.inside_footer ul {
		float: none;
		overflow: hidden;
		text-align: center;
		margin: 0 0 20px 0;
	}
	div.wrapper_mobile div.main_wrap footer.inside_footer ul li, div.wrapper_tab div.main_wrap footer.inside_footer ul li {
		float: none;
		overflow: hidden;
		text-align: center;
	}
	div.wrapper_mobile div.main_wrap footer.inside_footer ul li, div.wrapper_tab div.main_wrap footer.inside_footer ul li {
		display: inline-block;
		float: none;
		margin: 0 4px;
	}
	div.wrapper_mobile div.main_wrap footer.inside_footer, div.wrapper_tab div.main_wrap footer.inside_footer {
		text-align: center;
	}
	div.wrapper_mobile div.main_wrap footer p, div.wrapper_tab div.main_wrap footer p {
		margin: 20px 0 0 0;
	}
	
	
	div.wrapper_mobile section.main_step3 div.main_content a.button_btn, div.wrapper_mobile section.main_step4 div.main_content a.button_btn, div.wrapper_tab section.main_step3 div.main_content a.button_btn, div.wrapper_tab section.main_step4 div.main_content a.button_btn {
		margin: 0;
	}
	div.wrapper_mobile ul.invest, div.wrapper_tab ul.invest {
		padding: 0;
	}
	div.wrapper_mobile ul.invest li, div.wrapper_tab ul.invest li {
		padding: 0 0 50px 0;
	}
	div.wrapper_mobile ul.profiel, div.wrapper_tab ul.profiel {
    	padding: 0;
	}
	div.wrapper_mobile ul.profiel li, div.wrapper_tab ul.profiel li {
    	padding: 0 0 20px 0;
	}
	div.wrapper_mobile div.main_content h3, div.wrapper_tab div.main_content h3 {
		font-size: 90px;
		line-height: normal;
		text-align: left;
	}
	div.wrapper_mobile div.main_content h3 + p, div.wrapper_tab div.main_content h3 + p {
		margin: 20px 0;
	}
	div.wrapper_mobile div.main_content a.button_btn2, div.wrapper_tab div.main_content a.button_btn2 {
		width: auto;
	}
	div.wrapper_mobile div.main_content a.button_btn2 + a.vorige_stap, div.wrapper_tab div.main_content a.button_btn2 + a.vorige_stap {
		bottom: auto;
		right: auto;
	}
	div.wrapper_mobile section.main_step6 div.main_content p.intro, div.wrapper_tab section.main_step6 div.main_content p.intro {
		text-align: left;
	}
	div.wrapper_mobile section.main_step6 fieldset.radios, div.wrapper_tab section.main_step6 fieldset.radios {
		margin: 30px 0;
	}
	div.wrapper_mobile div.investor, div.wrapper_tab div.investor {
		display: none;
	}
    div.wrapper_mobile div.popup, div.wrapper_tab div.popup{
	width:80%;
	height: auto;
	padding: 5%;
	position: absolute;
	margin: 50px 0 0 -45%;
    top: auto;
}
div.wrapper_mobile div.popup label, div.wrapper_tab div.popup label {
    width: 100%;
}
div.wrapper_mobile div.popup input[type="text"], div.wrapper_tab div.popup input[type="text"] {
    width: 84%;
    padding:10px 5%;
}
div.wrapper_mobile div.img_section, div.wrapper_tab div.img_section {
    display:block;
}
div.wrapper_mobile section.main_step2 div.main_content div.heading1, div.wrapper_tab section.main_step2 div.main_content div.heading1 {
	left: auto;
	top:auto;
	position:relative;
	margin: 0 auto;
}






@media(max-width:784px){
	div.container {
		padding:0 5%;
		width:90%;
	}
	div.container {
		padding:0 5%;
		width:90%;
	}
	a.logo {
		display: block;
		margin: 0 auto;
		float: none;
		width: 174px;
	}
	p.info {
		float: none;
		margin: 30px auto;
		text-align: center;
	}
	div.main_content p.intro {
		margin: 0;
		text-align: center;
	}
	div.main_content h2.heading {
		text-align: center;
	}
	div.main_content h2.heading span {
		margin: 0;
	}
	div.main_content img {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	div.main_content img.img_response {
		width: 100%;
	}
	div.main_content a.button_btn {
		bottom: auto;
		display: block;
		margin: 30px auto;
		position: relative;
		right: auto;
	}
	div.investor {
		height: auto;
	}
	div.investor label {
		position:relative;
		left:auto !important;
		right:auto !important;
		bottom:auto !important;
		top:auto !important;
		margin:0 auto 30px auto;
	}
	section.main_step2 div.main_content h2.heading {
		position:relative;
		left: auto;
		top:auto;
		margin: 20px 0;
	}
	div.main_content {
    	overflow: hidden;
	}
	fieldset.radios {
		float: none;
		margin: 40px 0 0 0;
	}
	div.jaar {
		left: auto;
    	margin: 0;
		position: relative;
	}
	div.main_content a.vorige_stap {
		bottom: auto;
		margin: 20px 0;
		position: relative;
		right: auto;
	}
	div.main_content a.button_btn img {
		float: right;
		margin: -13px 0 0;
		position: absolute;
		right: 20px;
		top: 50%;
	}
	div.main_wrap footer.inside_footer ul {
		float: none;
		overflow: hidden;
		text-align: center;
		margin: 0 0 20px 0;
	}
	div.main_wrap footer.inside_footer ul li {
		float: none;
		overflow: hidden;
		text-align: center;
	}
	div.main_wrap footer.inside_footer ul li {
		display: inline-block;
		float: none;
		margin: 0 4px;
	}
	div.main_wrap footer.inside_footer {
		text-align: center;
	}
	div.main_wrap footer p {
		margin: 20px 0 0 0;
	}
	section.main_step3 div.main_content a.button_btn, section.main_step4 div.main_content a.button_btn {
		margin: 0;
	}
	ul.invest {
		padding: 0;
	}
	ul.invest li {
		padding: 0 0 50px 0;
	}
	ul.profiel {
    	padding: 0;
	}
	ul.profiel li {
    	padding: 0 0 20px 0;
	}
	div.main_content h3 {
		font-size: 90px;
		line-height: normal;
		text-align: left;
	}
	div.main_content h3 + p {
		margin: 20px 0;
	}
	div.main_content a.button_btn2 {
		width: auto;
	}
	div.main_content a.button_btn2 + a.vorige_stap {
		bottom: auto;
		right: auto;
	}
	section.main_step6 div.main_content p.intro {
		text-align: left;
	}
	section.main_step6 fieldset.radios {
		margin: 30px 0;
	}
	div.investor {
		display: none;
	}
    div.popup {
	width:80%;
	height: auto;
	padding: 5%;
	position: absolute;
	margin: 50px 0 0 -45%;
    top: auto;
}
div.popup label {
    width: 100%;
}
div.popup input[type="text"] {
    width: 84%;
    padding:10px 5%;
}
div.img_section {
    display:block;
}
section.main_step2 div.main_content div.heading1, section.main_step2 div.main_content div.heading1 {
	left: auto;
	top:auto;
	position:relative;
	margin: 0 auto;
}

}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

