.SFPTWO_IMAGEEDIT{ margin-bottom: 10px; }

.kinetic-moving-up {
                border-top-color: green !important;
            }
            .kinetic-moving-down {
                border-bottom-color: green !important;
            }
            .kinetic-moving-left {
                border-left-color: green !important;
            }
            .kinetic-moving-right {
                border-right-color: green !important;
            }

            .kinetic-decelerating-up {
                border-top-color: red !important;
            }
            .kinetic-decelerating-down {
                border-bottom-color: red !important;
            }
            .kinetic-decelerating-left {
                border-left-color: red !important;
            }
            .kinetic-decelerating-right {
                border-right-color: red !important;
            }




.setting-2{
	background: url("/images/setting_bg.png") repeat scroll left top;
	display: block;
	padding: 5px;
	background-color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.setting-2 a {
	background-image:none;
	background-position:left top;
	background-repeat:no-repeat;
	margin: 0 0 5px 0;
	height: 16px;
	background-size:16px 16px ;
	display: block;
	cursor:pointer;
	padding: 0 0 0 20px;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
.setting-2 a:hover {
	text-decoration: underline;
	color: #FFF;
}
.setting-2 a:last-child {
	margin: 0;
}
.setting-2 > span {
	background:#000;
	color: #fff;
	display: block;
	font-size: 11px;
	padding: 5px;
	margin: 0 0 5px;
	text-align: center;
	font-weight: bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.setting-2 a.edit {
	background-image:url("/images/edit_icon2.png");
}
.setting-2 a.spacing, .setting-2 a.spacing-1 {
	background-image:url("../img/spacing_icon.png");
}
.setting-2 a.imgcaption {
	background-image:url("/img/text_icon.png");
}
.setting-2 a.delete {
	background-image:url("/images/delete_icon2.png");
}

.setting-2 a.delete-1 {
	background-image:url("/images/delete_icon2.png");
}

.setting-2 a.timer {
	background-image:url("/images/edit_icon2.png");
}
.setting-2 a.urlset {
	background-image:url("../img/settings_icon.png");
}
.setting-2 a.vidseting {
	background-image:url("../img/video_icon.png");
}
.setting-2 a.background_sinbt-1 {
	background-image:url("../editImg/background_change_hover.png");
}
















.setting-2 a.savebutton {
	background: url("http://live.scampaigns.com/images/save_btn.png") no-repeat scroll left top;
	display: block;
	float: left;
	height: 28px;
	overflow: hidden;
	text-indent: -9999px;
	width: 32px;
	clear: none;
}
.setting-2 a.setup {
 background: url("http://live.scampaigns.com/images/configuration_icon.png") no-repeat scroll left top;
  display: block;
  float: left;
  height: 28px;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  clear: none;
}














.what_is_this > p {
  float: left;
  width: 70%;
}
.what_is_this {
  background: none repeat scroll 0 0 #000;
  border-radius: 5px;
  display: block;
  padding: 10px;
  position: absolute;
  right: 81px;
  top: 65px;
  width: 10%;
  z-index: 999;
}

#upload{
    background: url('http://live.scampaigns.com/images/op_bg.png') repeat;
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
}
.SFPTWO_IMAGEEDIT, .SFPTWO_TAGEDIT, .SFPTWO_TEXTEDIT, .SFPTWO_EDITFORM, .SFPTWO_TIMER
{
  position: relative;
}
.dottedLi {
   color: #000;
}
a.deleteCheckbox{
    color: blue;
    float: right;
    font-size: 23px;
    margin: -2px 5px 0 0;
}  

input[type="button"].css3button {
	font-family: Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
	font-size: 14px;
	color: #6E7172;
	padding: 6px 16px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 3px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,1);
		text-transform: capitalize;
}
input[type="button"].css3button:hover{background:#ccc}
.dottedLi{
   /* border : 1px dashed #000;*/
    position: relative;
}
.dotted{
    border : 1px dashed #000;
    cursor: pointer;
}
a.savechecklabel{
  background: none repeat scroll 0 0 #ccc;
  border-radius: 4px;
  color: #000;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 0 0 5px;
  text-align: center;
  text-decoration: none;
  width: 100px;

}

li a.liClose{
    background: #000;
    color: #fff;
    font-size: 20px;
    opacity: 0.46;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 25px;
    cursor: pointer;
}

div.overlay {
    background: url('http://live.scampaigns.com/image_gallery/overlay_bg.png') repeat left top;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
div.overlay img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
}
div#nowdrag {
  background: url("/img/setting_bgtext2.png") repeat left top;
  padding:0 5px;
  color:#fff;
  float: left;
}
div#dragfirst:hover {
	border:none;
}
div#dragfirst:hover > div:first-child {
  display:block;
}
div#dragfirst > div:first-child {
	background: url("/img/setting_bgtext2.png") repeat left top;
	overflow: hidden;
	padding:2px;
	/*margin:0 auto;*/
	display:none;
	width:47px;
	float: left;
}
a.imgedivdrg, a.closethisdrag {
    background: url(/img/drag_icontext2.png) no-repeat left top;
    display: block;
    height: 16px;
    width: 16px;
    overflow: hidden;
	background-size:100%;
	cursor:pointer;
	float:left;
}
a.closethisdrag {
    background-image: url(/img/close_icontext2.png);
    margin-left:5px
}
div.nowdrag p {
	margin:0;
	padding:5px;
}
span.btn_set {
	background: url("/images/setting_bg.png") repeat scroll left top;
	display: block;
	overflow: hidden;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 3px;
	padding: 3px;
	z-index: 9;
	background-color:white;
}
span.btn_set a.urlset {
	background: url(../img/link_url_icon.png) no-repeat left top;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
	width: 16px;
	cursor:pointer;
	background-size:16px 16px;
}

.sfpfbDynamicTweet, .sfpfbDynamicTweetBird , .sfpfbDynamicLike, .sfpfbDynamicShare , .sfpfbDynamicGoogle, .sfpfbDynamicLinkedin, .sfpfbDynamicInstagram, .sfpfbDynamicYoutube, .sfpfbDynamicGoogle , .sfpDynamicLinkedin{ 
  overflow: visible !important;
}




.sfpfbDynamicLike iframe{
  float:left !important;
}

.textme{
	display:inline-block;
}


.sfpfbDynamicLike .setting-2, .sfpfbDynamicTweet .setting-2, .sfpfbDynamicGoogle div.setting-2 , .sfpfbDynamicTweetBird div.setting-2 , .sfpDynamicLinkedin div.setting-2 {
	right:-60px;
	top: 0;
}
.sfpfbDynamicTweet .setting-2 {
	right:-30px;
}
div#logo-badge {
	overflow: visible !important;
}
